<div class="form centered-content">
    <div class="white-box">

        <h1 class="title text-center fw-bold font-bold has-text-dark ">Forget Password</h1>
        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input class="input fw-bold font-bold has-background-light" type="email" placeholder="Enter Your Email"
                    [(ngModel)]="formValues.email" #email="ngModel" required>
                <mat-error class="has-text-danger-dark fw-normal font-normal"
                    *ngIf="email.invalid && (email.dirty || email.touched)">
                    Email is <strong>required</strong>
                </mat-error>
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </p>
        </div>


        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <input class="input fw-bold font-bold has-background-light" type="text"
                    placeholder="What is your pet name?" [(ngModel)]="formValues.pet" #pet="ngModel" required>
                <mat-error class="has-text-danger-dark fw-normal font-normal"
                    *ngIf="pet.invalid && (pet.dirty || pet.touched)">
                    Pet name is <strong>required</strong>
                </mat-error>
                <span class="icon is-small is-left">
                    <i class="fas fa-dog"></i>
                </span>
            </p>
        </div>

        <div class="field">
            <p class="control has-icons-left has-icons-right">
                <a class="d-flex has-background-ligh flex-row">

                    <input class="input fw-bold font-bold has-background-light" [type]="hide ? 'password' : 'text'"
                        type="password" placeholder="New Password" [(ngModel)]="formValues.password" #password="ngModel"
                        required>

                    <button class="button is-small {{btn}} {{color}}" (click)="changecolor()" mat-icon-button matSuffix
                        (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                    <span class="icon is-small is-left">
                        <i class="fas fa-lock"></i>
                    </span>
                </a>
                <mat-error class="has-text-danger-dark fw-normal font-normal"
                    *ngIf="password.invalid && (password.dirty || password.touched)">
                    Password is <strong>required</strong>
                </mat-error>
            </p>

            <mat-error class="has-text-danger-dark fw-bold" *ngIf="errorMessage">
                {{ errorMessage }}
            </mat-error>

        </div>

        <div class="field" style="display: flex; justify-content: flex-center;">
            <p class="control">
                <button class="button my-3 mx-6 is-success fw-bold font-bold has-text-dark" (click)="onClickForget()">
                    Change Password
                </button>
            </p>
        </div>
    </div>
</div>